# Logs
logs
*.log
npm-debug.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

node_modules/
playground/__build__
